/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #e7ebee;
    --sidebar-color: #FFF;
    --primary-color: #1173c4;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --logout-color:red;
    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    height: 100%;
    background-color: var(--body-color);
    transition: var(--tran-05);
    /* background-color: white !important; */
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    /* background: var(--sidebar-color); */
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li .active{
    background-color: var(--primary-color);
}
 .sidebar li .active .icon,
 .sidebar li .active .text{
    color: var(--sidebar-color);
}
.sidebar li .logOut:hover{
    background-color: var(--logout-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.menu-bar .bottom-content #logout{
    border: none;
    width: 100%;
    background-color: transparent;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100% !important;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    /* background-color: red; */
    transition: var(--tran-05);
    z-index: 0;
    overflow-y: scroll;
    
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
    height: 100% !important;
    overflow-y: scroll;
    width: 100%;
    /* background-color: #d0d2d1; */
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}

/* add product */

/*form styles*/
#msform {
	width: 70%;
	margin: 50px auto;
	/* text-align: center; */
	position: relative;
}
#msform  h2,#msform  h3{
	text-align: center;
}
#msform  label{
font-size: 23px;}

#msform fieldset {
	/* background: white; */
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
    z-index: 3;
    background-color: white;

	
	/*stacking fieldsets above each other*/
	position: relative;
}
#msform fieldset .error {
    color: red;
    font-size: 15px;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px;
	margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
    display: flex;
    justify-content: center;
    text-align: center;
}
#progressbar li {
	list-style-type: none;
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: rgb(255, 255, 255);
	background: rgb(0, 0, 0);
	border-radius: 3px;
	margin: 0 auto 5px auto;
    z-index: 3;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: rgb(0, 0, 0);
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -3; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}



/* drage file uload */
.drag-area{
    border: 2px dashed #27AE60;
    height: 500px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #27AE60;
  }
  .drag-area.active{
    border: 2px solid #fff;
  }
  .drag-area .icon{
    font-size: 100px;
    color: #27AE60;
  }
  .drag-area header{
    font-size: 30px;
    font-weight: 500;
    color: #27AE60;
  }
  .drag-area span{
    font-size: 25px;
    font-weight: 500;
    color: #27AE60;
    margin: 10px 0 15px 0;
  }
  .drag-area button{
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #27AE60;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  .drag-area img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
/* end add product */
/* figure */
#types{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
figure {
    display: grid;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    height: 240px;
    width: 230px;
  }
  figure > * {
    grid-area: 1/1;
    transition: .4s;
  }
a{
    text-decoration: none;
}
  figure figcaption {
    display: grid;
    align-items: end;
    font-family: sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.847);
    padding: .75rem;
     background: var(--c,rgba(0, 0, 0, 0.781));
    clip-path: inset(0 var(--_i,100%) 0 0);
    -webkit-mask:
      linear-gradient(#000 0 0),
      linear-gradient(#000 0 0);
   /* -webkit-mask-composite: xor;
    -webkit-mask-clip: text, padding-box; */
    margin: -1px;
  }
  figure:hover figcaption{
    --_i: 0%;
  }
  figure .actions{
    width: 60px;
    height: 70%;
    background-color: rgba(255, 0, 0, 0);
    z-index: 6;
    transform: translateX(-90px);
    transition: 0.5s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   .key{
    position: absolute;
    top: 0px;
    left: 0;
    background-color: rgba(38, 37, 37, 0.538);
    width: 100%;
    height: 100%;    z-index: 8;
    display: none;
    justify-content: center;
    align-items: center;

  }
  .key .error{
    color: red;
    font-size: 19px;
  }
  .key .hide{
    width: 40px;
    height: 40px;
    background-color: red;
    color: white;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
  .key form{
    width: auto;
    height: auto;
    
  }
  .key form input{
    width: 270px;
    height: 35px;
    outline: none;
    padding: 3px;
    font-weight: 400;
    font-size: 18px;

  }
  .key form button{
    padding: 4px;
    color: white;
    border: none;
    background-color: #27AE60;
    height: 30px;
    outline: none;
    cursor: pointer;
  }
  .key form input:focus{
    
    outline: none;
  }
  figure .actions ul{
    margin: 0;
    padding: 0;
  }figure .actions ul li{
    list-style: none;
    color: white;
    font-size: 27px;
  }
  figure .actions ul li button{
    background-color: transparent;
    border: none;
    font-size: 27px;
color: white;
     cursor: pointer;

  }
  figure:hover .actions{
    transform: translateX(0px);
  }
  figure:hover img {
    transform: scale(1.2);
  }
  figure img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  @supports not (-webkit-mask-clip: text) {
    figure figcaption {
     -webkit-mask: none;
     color: #fff;
    }
  }
  
  /* body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    background: #425a52;
  } */
  .productsS{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
/* end figure */
/* charts */
/* #chartProdutv{
  width: 100%;
  height: 40% !important;
  margin: auto;
  position: relative;
  /* background-color: red; 
  display: flex;
  justify-content: center;
}
#chartProdudt canvas{
  position: absolute;
  width: 100% !important;
  height: 100% !important;
}
#chartProdut canvas{
  width: 100%;
  height: 100%;
  position: absolute;
  
}
.first_chart{
  width: 100%;
  height: 40%;
  background-color: rgba(255, 0, 0, 0);
  display: flex;
  
}
#chartUsder{
  width: calc(100% / 2);
  height: 300px;
  position: relative;
  display: flex;
  background-color: #e7ebee00;
  justify-content: center;
  align-items: center;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
 
}
.itemchart{
  width: 50% ;
  background-color: #1174c400;
  
}
.itemchart div,#ProductKey{
  height: 90% !important;
  width: 100% !important;
}
.itemchart .p{
color: #1173c4;
font-size: 20px;
}
@media only screen and (max-width: 800px) {
  .first_chart{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  .itemchart{
    width: 100% ;
    background-color: #c0392100;
  }
  #chartUser{
    width: 100% ;
    height: 300px;
    position: relative;
   
  }
}   */

/* ---------- MAIN ---------- */

.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-title > p {
  font-size: 20px;
}
/* .material-icons-outlined{
  color: red;
  font-size: 18px !important;
} */
.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 20px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
  background-color: #ffffff;
  box-sizing: border-box;
  border: 1px solid #d2d2d3;
  border-radius: 5px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.card:first-child {
  border-left: 7px solid #246dec;
}

.card:nth-child(2) {
  border-left: 7px solid #f5b74f;
}

.card:nth-child(3) {
  border-left: 7px solid #367952;
}

.card:nth-child(4) {
  border-left: 7px solid #cc3c43;
}

.card > span {
  font-size: 20px;
  font-weight: 600;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner > p {
  font-size: 18px;
}

.card-inner > span {
  font-size: 35px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.charts-card {
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 25px;
  box-sizing: border-box;
  -webkit-column-break-inside: avoid;
  border: 1px solid #d2d2d3;
  border-radius: 5px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.chart-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
}


/* end charts */
/* edit form */

.container {
  width: 100%;
  height: 100%;
  /* background-color: red; */
  /* margin: 30px auto;
  padding: 20px; */
}
h1 {
  font-size: 20px;
  text-align: center;
  margin: 20px 0 20px;
}
h1 small {
  display: block;
  font-size: 15px;
  padding-top: 8px;
  color: rgb(154, 26, 26);
}
.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
visibility: hidden;}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all .2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f100;
  border-color: #d6d6d600;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 4px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 10%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 10%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
*, *:after, *:before {
 box-sizing: border-box;
}
body {
 /* font-family: "DM Sans", sans-serif;
 line-height: 1.5;
 background-color: #f1f3fb;
 padding: 0 2rem; */
}
img {
 max-width: 100%;
 display: block;
}
input {
 appearance: none;
 border-radius: 0;
}
.card {
 margin: 2rem auto;
 display: flex;
 flex-direction: column;
 width: 100%;
 max-width: 425px;
 background-color: #fff;
 border-radius: 10px;
 box-shadow: 0 10px 20px 0 rgba(153, 153, 153, 0.25);
 padding: 0.75rem;
}
.card .error{
  font-size: 18px;
  color: red;
}
.card-image {
 border-radius: 8px;
 overflow: hidden;
 padding-bottom: 65%;
 background-repeat: no-repeat;
 background-size: 150%;
 background-position: 0 5%;
 position: relative;
}
.card-heading {
 position: absolute;
 left: 10%;
 top: 15%;
 right: 10%;
 font-size: 1.75rem;
 font-weight: 700;
 color: #735400;
 line-height: 1.222;
}
.card-heading small {
 display: block;
 font-size: 0.75em;
 font-weight: 400;
 margin-top: 0.25em;
}
.card-form {
 padding: 2rem 1rem 0;
}
.input {
 display: flex;
 flex-direction: column-reverse;
 position: relative;
 padding-top: 1.5rem;
}
.input + .input {
 margin-top: 1.5rem;
}
.input-label {
 color: #8597a3;
 position: absolute;
 top: 1.5rem;
 transition: 0.25s ease;
}
.input-field {
 border: 0;
 z-index: 1;
 background-color: transparent;
 border-bottom: 2px solid #eee;
 font: inherit;
 font-size: 1.125rem;
 padding: 0.25rem 0;
}
.input-field:focus, .input-field:valid {
 outline: 0;
 border-bottom-color: #1173c4;
}
.input-field:focus + .input-label, .input-field:valid + .input-label {
 color: #1173c4;
 font-size: 18px !important;
 transform: translateY(-1.5rem);
}
.action {
 margin-top: 2rem;
}
.action-button {
 font: inherit;
 font-size: 1.25rem;
 padding: 1em;
 width: 100%;
 font-weight: 500;
 background-color: #1173c4;
 border-radius: 6px;
 color: #fff;
 border: 0;
}
.action-button:focus {
 outline: 0;
}
.card-info {
 padding: 1rem 1rem;
 text-align: center;
 font-size: 0.875rem;
 color: #8597a3;
}
.card-info a {
 display: block;
 color: #1173c4;
 text-decoration: none;
}

/* edite form */

